
@{
    ViewData["Title"] = "About";
}
<!-- about section -->

<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="detail-box">
                    <div class="heading_container ">
                        <h2>
                            About Us
                        </h2>
                    </div>
                    <p>
                        Quas ab excepturi fuga magni dolor libero id error dolore quo laborum. Facilis atque architecto fugiat laboriosam eaque tempore sed, facere dicta labore eum vero, porro in minima quae corrupti!
                        Earum, nam? Nostrum illum, maxime, eligendi soluta iste doloremque quae magnam necessitatibus ipsum, porro molestiae quasi quos totam facilis rem rerum sint voluptatibus. Molestias iure perspiciatis ipsam, esse nemo architecto?
                    </p>
                    <div class="btn-box">
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 img_container">
                <div class="row">
                    <div class="col-6">
                        <img src="~/images/a1.jpg" class="about_img1" alt="" />
                    </div>
                    <div class="col-6 px-0">
                        <img src="~/images/a2.jpg" class="about_img2" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->

