
@{
    ViewData["Title"] = "Gallery";
}
<!-- gallery section -->

<section class="gallery_section layout_padding" id="gallery">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Gallery
            </h2>
            <p>
                minim veniam, quis nostrud exercitation ullamco laboris nisi
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="box ">
                    <img src="images/g1.jpg" alt="">
                    <div class="btn-box">
                        <a href="~/images/g2.jpg" data-toggle="lightbox" class="btn-1">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="box ">
                    <img src="images/g2.jpg" alt="">
                    <div class="btn-box">
                        <a href="~/images/g2.jpg" data-toggle="lightbox" class="btn-1">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="box ">
                    <img src="images/g3.jpg" alt="">
                    <div class="btn-box">
                        <a href="~/images/g2.jpg" data-toggle="lightbox" class="btn-1">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="box ">
                    <img src="images/g4.jpg" alt="">
                    <div class="btn-box">
                        <a href="~/images/g2.jpg" data-toggle="lightbox" class="btn-1">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="see_btn">
            <a href="~/">
                See More
            </a>
        </div>
    </div>
</section>

<!-- end gallery section -->