
@{
    ViewData["Title"] = "Index";
}
<!-- slider section -->
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-8 col-xl-6 mx-auto ">
                            <div class="detail-box">
                                <h1>
                                    We Are <br>
                                    Wedding Planners
                                </h1>
                                <p>
                                    Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-8 col-xl-6 mx-auto ">
                            <div class="detail-box">
                                <h1>
                                    We Are <br>
                                    Wedding Planners
                                </h1>
                                <p>
                                    Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-8 col-xl-6 mx-auto ">
                            <div class="detail-box">
                                <h1>
                                    We Are <br>
                                    Wedding Planners
                                </h1>
                                <p>
                                    Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel_btn-box">
            <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</section>
<!-- end slider section -->
</div>
<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="detail-box">
                    <div class="heading_container ">
                        <h2>
                            About Us
                        </h2>
                    </div>
                    <p>
                        Quas ab excepturi fuga magni dolor libero id error dolore quo laborum. Facilis atque architecto fugiat laboriosam eaque tempore sed, facere dicta labore eum vero, porro in minima quae corrupti!
                        Earum, nam? Nostrum illum, maxime, eligendi soluta iste doloremque quae magnam necessitatibus ipsum, porro molestiae quasi quos totam facilis rem rerum sint voluptatibus. Molestias iure perspiciatis ipsam, esse nemo architecto?
                    </p>
                    <div class="btn-box">
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 img_container">
                <div class="row">
                    <div class="col-6">
                        <img src="~/images/a1.jpg" class="about_img1" alt="" />
                    </div>
                    <div class="col-6 px-0">
                        <img src="~/images/a2.jpg" class="about_img2" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
<!-- service section -->
<section class="service_section layout_padding-bottom">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Our Services
                </h2>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                </p>
            </div>
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Wedding Planning
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Wedding Decor
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Wedding Photography
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Wedding Venues
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s5.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Catering
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s6.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Bridal Styling
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View More
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end service section -->
<!-- gallery section -->
<section class="gallery_section layout_padding" id="gallery">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Gallery
            </h2>
            <p>
                minim veniam, quis nostrud exercitation ullamco laboris nisi
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="box ">
                    <img src="~/images/g1.jpg" alt="">
                    <div class="btn-box">
                        <a href="~/images/g2.jpg" data-toggle="lightbox" class="btn-1">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="box ">
                    <img src="~/images/g2.jpg" alt="">
                    <div class="btn-box">
                        <a href="~/images/g2.jpg" data-toggle="lightbox" class="btn-1">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="box ">
                    <img src="~/images/g3.jpg" alt="">
                    <div class="btn-box">
                        <a href="~/images/g2.jpg" data-toggle="lightbox" class="btn-1">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="box ">
                    <img src="~/images/g4.jpg" alt="">
                    <div class="btn-box">
                        <a href="~/images/g2.jpg" data-toggle="lightbox" class="btn-1">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="see_btn">
            <a href="">
                See More
            </a>
        </div>
    </div>
</section>
<!-- end gallery section -->
<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Contact Us
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container contact-form">
                    <form action="">
                        <div>
                            <input type="text" placeholder="Your Name" />
                        </div>
                        <div>
                            <input type="text" placeholder="Phone Number" />
                        </div>
                        <div>
                            <input type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" />
                        </div>
                        <div class="btn_box">
                            <button>
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container">
                    <div class="map">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->
<!-- client section -->
<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Testimonial
            </h2>
        </div>
        <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="client_box">
                        <div class="img-box">
                            <img src="~/images/client.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Ethan & Laila
                            </h5>
                            <p>
                                Numquam animi sit minus sequi veniam quisquam laborum quibusdam cupiditate debitis corrupti a voluptate placeat eligendi officiis recusandae laboriosam maxime quis dolore soluta doloremque, vel aliquid repudiandae assumenda. Aliquam, necessitatibus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_box">
                        <div class="img-box">
                            <img src="~/images/client.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Ethan & Laila
                            </h5>
                            <p>
                                Numquam animi sit minus sequi veniam quisquam laborum quibusdam cupiditate debitis corrupti a voluptate placeat eligendi officiis recusandae laboriosam maxime quis dolore soluta doloremque, vel aliquid repudiandae assumenda. Aliquam, necessitatibus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_box">
                        <div class="img-box">
                            <img src="~/images/client.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Ethan & Laila
                            </h5>
                            <p>
                                Numquam animi sit minus sequi veniam quisquam laborum quibusdam cupiditate debitis corrupti a voluptate placeat eligendi officiis recusandae laboriosam maxime quis dolore soluta doloremque, vel aliquid repudiandae assumenda. Aliquam, necessitatibus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</section>
<!-- end client section -->