
@{
    ViewData["Title"] = "Service";
}
<!-- service section -->

<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Our Services
                </h2>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                </p>
            </div>
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Wedding Planning
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Wedding Decor
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Wedding Photography
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Wedding Venues
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s5.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Catering
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s6.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Bridal Styling
                            </h5>
                            <p>
                                Voluptates consequatur, fugiat quisquam sit sed perferendis laborum eaque, totam inventore sint nam doloribus libero quo. Molestiae numquam perspiciatis id.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View More
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end service section -->

